<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PulseTeach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>123AE4711C29F90C0008CB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123AE4851C29F90D0008CB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123AE4901C29F90D0008CB21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
